extends layout

block body
  div(ng-controller='AppCtrl')
  .container
    h2.text-center.title
      a(new-new-game="#") zoi
    .col-md-8.col-md-offset-2.panel-magin
      span(new-game)
      div(new-game-affiliate)


