extends layout

block body
  //- div(ng-controller='AppCtrl')
  .container
    a(href='/')
      h2.text-center.title zoi
    .col-md-8.col-md-offset-2.panel-magin
      span(new-game)
      div(new-game-affiliate)

    //- div(new-game)
    //- ul.menu
    //-   li
    //-     a(href='view1') view1
    //-   li
    //-     a(href='view2') view2

  //- div(ng-view)

    //- div
    //-   | Angular seed app: v
    //-   span(app-version)


