extends layout

block body
  div(ng-controller='AppCtrl')
  .container
    h2.text-center.title
      a(new-new-game="#") zoi
    .col-md-6.col-md-offset-3.panel-magin
      div(new-game)
      div(new-game-affiliate)


