/* app css stylesheet */

/* 縦100% */
html, body {
  height: 100%;
  width: 100%;
}
a {
  cursor: pointer;
}
.bg {
  /*background-image: url(../images/e0e0e0.png);*/
  background-color: #F1F2F6;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.panel-magin {
  margin-top: 30px;
}

.tweet {
  font-size: 28px;
}

.word {
  padding: 0 25px;
}

.affiliate {
  padding: 30px 0;
}

.select-arrow {
  -moz-transition: left .1s;
  -webkit-transition: left .1s;
  -o-transition: left .1s;
  transition: left .1s;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  margin: 20px 0 0 20px;
}

.arrow-slide {
  -moz-transition: left .5s;
  -webkit-transition: left .5s;
  -o-transition: left .5s;
  transition: left .5s;
  left: 260px;
}

.select-view {
  float: left;
  margin: 10px;
}

.sidebar {
  -moz-transition: left .1s;
  -webkit-transition: left .1s;
  -o-transition: left .1s;
  transition: left .1s;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -260px;
  z-index: 999;
  max-height: 1690px;
  overflow-y: scroll;
}
.slide-out {
  -moz-transition: left .5s;
  -webkit-transition: left .5s;
  -o-transition: left .5s;
  transition: left .5s;
  left: 0px;
}

.container {
    height: 100%;
}
